# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String
# Local MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/edupulse_db

# MongoDB Atlas (Cloud) Example:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/edupulse_db?retryWrites=true&w=majority
